:root {
    --color-red-light: #ff0000;
    --color-red-dark: #e44343;
    --color-electric-red: #ff2400;
    --color-electric-redd: #e30004;
    --color-ferrari-red: #ff2a02;
    --color-ue-red: #c10206;
    --color-raisin-black: #211d21;
    --color-grey-dark: #414d41;
    --color-orange-1: #ff7730;
}

$color-white: #fff;
$color-transparent: transparent;
$color-cultured: #f4f5f6;
$color-electric-red: #e30004;
$color-ferrari-red: #ff2a02;
$color-vamire-black: #0a0a0a;
$color-ue-red: #c10206;
$color-carmine: #a50113;
$chinese-white: #dfe2db;
$floral-white: #fffbf2;
$raisin-black: #211d21;
// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;