body {
    //font-family: 'Open Sans', 'HelveticaNeue', sans-serif;
    font-size: 1.3rem;
    font-family: "cairo", helvetica, arial, sans-serif !important;
    font-weight: 300;
    letter-spacing: 0;
}

////D A S H B O A R D - - - ***** D A S H B O A R D
